.places__image {
  width: 100%;

  justify-self: center;
  align-self: flex-start;
  object-fit: cover;
  background-position: center;

}


/* Не понимаю, как сделать картинку за рамками контейнера
без отрицательных margin 
и width: 100vw; */
@media screen and (max-width: 320px) {
  .places__image {

    /* width: 100vw;
    margin: 0 -16px 0; */

  }

  /*  */
}