.lead {
  margin: 48px auto 0;
  max-width: 984px;
}



@media screen and (min-width: 1024px) {
  .lead {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    margin: 74px auto 0;
  }
}