.footer__link-item {
  display: inline;
  margin-right: 18px;
}

.footer__link-item:hover .footer__link {
  opacity: 0.8;
  transition: opacity 2s linear;

}



@media screen and (max-width: 535px) {

  .footer__link-item {
    margin-bottom: 32px;
  }
}